.controller{
    position: fixed;
    top: 10px;
    right: 20px;
    width: 300px;
    background-color:rgba(192,192,192,0.2);
    padding: 10px;
    display: grid;
    button {
        margin: 5px;
    }
}
.camera-controller{
    position: fixed;
    top: 10px;
    left: 20px;
    width: 300px;
    background-color:rgba(192,192,192,0.2);
    padding: 10px;
    display: grid;
    button {
        margin: 5px;
    }
}
